{% block footer %}
  <div class='footer'>
    <table class='d-flex'>
      <tbody>
        <tr>
          <td>
            <a href="#" class='linkFooter'>A propos de Village Green</a>
          </td>
        </tr>

        <tr>
          <td>
            <a href="#" class='linkFooter'>L'équipe</a>
          </td>
        </tr>
        
        <tr>
          <td>
            <a href="#" class='linkFooter'>Liens utiles</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}