{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="m-3">
            <div class="display-4">Blah</div>
            <hr>
            
            <p class="lorem">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate magni amet placeat facilis modi vel iusto eveniet temporibus minima doloribus quae illo, impedit quis consequatur quia incidunt sapiente?</p>
            <div class="btn btn-primary">Click</div>
        </div>
    </div>

{% endblock %}