{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="m-3">
            <div class="d-flex display-4 justify-content-center">Hello
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                , cher client !
            {% endif %}
            </div>
            
            <hr>
            
            <p class="d-flex justify-content-center">Bienvenue sur le site. Pour voir le catalogue, connectez-vous ou sinon inscrivez-vous !
        </div>
    </div>

{% endblock %}