{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <br><br>
        <div class="m-4">
            <div class="d-flex display-4 justify-content-center">Hello
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                , cher client !
            {% endif %}
            </div>

            
            <hr>
            
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <p class="d-flex justify-content-center">Bienvenue sur le site, n'hésitez pas à naviguer pour voir nos produits !</p>
            {% else %}
                <p class="d-flex justify-content-center">Bienvenue sur le site. Pour voir le catalogue, connectez-vous ou sinon inscrivez-vous !</p>
            {% endif %}
        </div>

        {# input React #}
        <div id='root'>
        </div>

        {# Slider doesn't work, error message "... was loaded over HTTPS, but requested an insecure element..." #}
        {# <div class='d-flex justify-content-center'>
            <div id="carouselMain" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src={{ asset('/upload/product/guitares.jpg')}} class="d-block w-100" alt="img1">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Guitars</h5>
                        </div>
                    </div>

                    <div class="carousel-item">
                    <img src={{ asset('/upload/product/bass.jpg')}} class="d-block w-100" alt="img2">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Basses</h5>
                        </div>
                    </div>

                    <div class="carousel-item">
                    <img src={{ asset('/upload/product/drumming-basics.jpg')}} class="d-block w-100" alt="img3">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Drums</h5>
                        </div>
                    </div>

                    <div class="carousel-item">
                    <img src={{ asset('/upload/product/ampli.jpg')}} class="d-block w-100" alt="img4">

                        <div class="carousel-caption d-none d-md-block">
                            <h5>Amplis</h5>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div> #}
        {# End slider #}

    </div>

{% endblock %}